doctype html
html
  head
    title Terranimo
    meta(http-equiv='Content-Security-Policy' content='upgrade-insecure-requests')
  link(rel='stylesheet', href='/styles/terramino.css')
body
  div.score(id="score")
  div.container
    div.content
      h1 Terramino
      p Move: ← → Rotate: ↑ Drop: ↓
    div.content
      canvas(width='320', height='640', id='game')

  script(src='/scripts/terramino.js')
  script start('!{backend_url}')
