html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("/images/background.png");
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Impact, Charcoal, sans-serif;
}

canvas {
  border: 1px solid white;
}

.container {
  position: relative;
  margin: 0 auto;
}

.content {
  position: relative;
  left: 0;
  top: 0;
}

.score {
  position: absolute;
  left: 10px;
  top: 10px;
  font-family: Arial, Helvetica, white, sans-serif;
  font-size: xx-large;
}

.error {
  display: none;
  color: red;
  font-size: x-large;
}
